name: Python unittest

on:
  push:

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.14"
          - "3.15"

    steps:
      - uses: actions/checkout@v6

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run unittest in uv
        run: uv run pytest . --junit-xml=reports/test-results.xml --log-cli-level debug

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always() # This ensures the report is published even if tests fail
        with:
          files: |
            reports/**/*.xml
            # reports/**/*.trx

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}       # run this step even if previous step failed
        with:
          name: Unittest            # Name of the check run which will be created
          path: reports/jest-*.xml    # Path to test results
          reporter: jest-junit        # Format of test results