name: Unittest - Python

on:
  push:

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  unittest-python:
    name: Unittest - Python
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.14"
          - "3.15"
    steps:
      - uses: actions/checkout@v6

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync

      - name: Run unittest in uv
        run: uv run pytest . --junit-xml=reports/unittest-python-${{ matrix.python-version }}.xml

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: Reports
          path: reports/unittest-python-${{ matrix.python-version }}.xml
          reporter: jest-junit
